
html, body {
    height: 100%;
}

.box{
	
	/*height:100px;*/
    z-index: 1;
	 -webkit-transition: background 0.2s linear;
  	-moz-transition: background 0.2s linear;
  	-o-transition: background 0.2s linear;
  	transition: background 0.2s linear;
}
 
.red{
	background:#f00;
}
.green{
	background:#0f0;
}

#headbgimage {
	background-image: url("hackaton-edit.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

box:hover {
	  background: -webkit-gradient(radial, 100 75, 100, 100 75, 0, from(rgba(0,0,0,.7)), to(rgba(0,0,0,.4)));

}

.division {
	text-align: center;
	border: 2px solid black;
}

#centertext {
	margin: auto;
	
}

h1 {
	color: white;
}